<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.PropertyValueMapper">
    <select id="list" resultType="PropertyValue">
        select * from propertyValue where pid=#{pid} order by ptid asc
    </select>

    <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="PropertyValue" >
        insert into propertyValue ( ptid, pid ) values (#{ptid}, #{pid})
        </insert>

    <delete id="delete">
        delete from propertyValue where id= #{id}
        </delete>

    <select id="get" resultType="PropertyValue">
        select * from propertyValue where ptid=#{0} and pid=#{1}
        </select>

    <update id="update" parameterType="PropertyValue" >
        update propertyValue set value=#{value} where ptid=#{ptid} and pid=#{pid}
        </update>
</mapper>